.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem !important;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    article {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}
