@page "/"

<h3>Collections d'utilisateurs</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Model ID</th>
                <th>Spotted</th>
                <th>Created At</th>
                <th>Location</th>
                <th>Is Public</th>
                <th>Superspot</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>00000000-0000-0000-0000-000000000001</td>
                <td>10000000-0000-0000-0000-000000000001</td>
                <td>1</td>
                <td>Oui</td>
                <td>2023-04-10</td>
                <td>Paris</td>
                <td>Oui</td>
                <td>Non</td>
            </tr>
            <tr>
                <td>00000000-0000-0000-0000-000000000002</td>
                <td>10000000-0000-0000-0000-000000000002</td>
                <td>2</td>
                <td>Non</td>
                <td>2023-04-13</td>
                <td>Lyon</td>
                <td>Oui</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>00000000-0000-0000-0000-000000000003</td>
                <td>10000000-0000-0000-0000-000000000003</td>
                <td>3</td>
                <td>Oui</td>
                <td>2023-04-14</td>
                <td>Marseille</td>
                <td>Non</td>
                <td>Non</td>
            </tr>
        </tbody>
    </table>
</div>
